<html>
  <head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="public/meed-favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />

  </head>
  <body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <a class="logo" href="/">
          <img src="public/meed-Logo.png" alt="Logo" />
        </a>
        <!-- Navigation -->
        <ul class="menu">
          <li>
            <a href="/">Compobulator Home Page</a>
          </li>
          <li class="loggedOut">
            <a href="/account/create">Compobulator Signup</a>
          </li>
          <li class="loggedOut">
            <a href="/session/create">Login to Compobulator</a>
          </li>
          <li class="loggedIn">
            <a href="/rules/all">Rule Information</a>
          </li>
          <li class="loggedIn">
            <a href="/account/edit">Your Account Settings</a>
          </li>
          <li class="loggedIn">
            <a href="#" id="logoutButton">Logout of Compobulator</a>
          </li>
        </ul>

        <div class="clear"></div>
      </div>

      <!-- Page-Specific Content -->
      <div class="content">
