<h1>Meed Partner's Compobulator</h1>
<h2>"Now, that's a cool rule!"</h2>

<div class="Blurb">Meed Partners is in the penultimate testing and development group engineering their core product, the Compobulator Classic. A mid 2019 release is targeted, with alpha/trial inquires welcome come January of 2019.  You'll surely agree with everyone, that's a cool rule!</div>

<div class="ctawrapper">
  <a class="cta green" href="account/create">Create Your Compobulator Account ...</a>
  <a class="cta blue" href="session/create">Login to Your Compobulator Account</a>
</div>
